.content {
  // background-color: $green;padding-top: 100px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .box {
    height: 500px;
    width: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: $Lato;
    .circle1 {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 357px;
      height: 357px;
      background-color: $yellow;
      border-radius: 50%;
      z-index: 1;
      filter: drop-shadow(0px 10px 6px #00000042);
      div {
        width: 50%;
        h1 {
          font-family: $CavB;
          font-size: 30px;
          margin-bottom: 40px;
        }
        p {
          font-size: 15px;
          line-height: 20px;
        }
      }
    }
    .circle2 {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 10px;
      font-family: $LLItal;
      width: 167px;
      height: 167px;
      background-color: $lightpink;
      border-radius: 50%;
      position: absolute;
      top: 20px;
      right: 10px;
      filter: drop-shadow(0px 10px 6px #00000042);
      div {
        width: 60%;
      }
    }
  }
}

.home {
  background-image: linear-gradient(
      rgba(242, 92, 84, 0.6),
      rgba(242, 92, 84, 0.6)
    ),
    url(../images/hero.jpg);
  background-position: center;
  background-size: cover;
}

@media (max-width: 768px) {
  .content {
    min-height: 1024px;
  }
  .content .box {
    display: flex;
    align-items: center;
  }
  .content .box .circle2 {
    position: absolute;
    top: -20px;
    right: 50px;
  }
  .home footer {
    top: 975px;
  }
}

@media (max-width: 360px) {
  .home {
    height: 700px;
  }
  .content .box .circle1 {
    height: 257px;
    width: 257px;
  }
  .content .box .circle1 div h1 {
    font-size: 20px;
    margin-bottom: 21px;
  }
  .content .box .circle1 div p {
    font-size: 9px;
    line-height: 15px;
  }
  .content .box .circle2 div p {
    font-size: 8px;
  }
  .content .box .circle2 {
    width: 121px;
    height: 121px;
    top: 50px;
  }
}
