.dropDowns {
  margin-top: 15px;
  margin-bottom: 35px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .boxes {
    display: flex;
    justify-content: space-between;
    width: 72%;
    .dropBox {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid #898989;
      border-radius: 5px;
      height: 50px;
      padding-left: 10px;
      padding-right: 10px;
      min-width: 100px;
      cursor: pointer;
      &:hover {
        border-color: black;
      }
      i {
        margin-left: 15px;
        font-size: 20px;
      }
    }
  }
  .popularity {
    display: flex;
    align-items: center;
    width: 200px;
    p {
      margin-bottom: 5px;
      font-size: 12px;
    }
    #pop {
      font-size: 14px;
    }
    i {
      margin-left: 15px;
      font-size: 20px;
    }
  }
}

.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  .product {
    background-color: white;
    max-width: 260px;
    margin-bottom: 25px;
    box-shadow: 0 4px 8px 0 #9e9e9e33, 0 6px 20px 0 #9e9e9e33;
    &:hover {
      border: 2px solid #3d5a7b;
    }
    .productImg {
      background-color: white;
      width: 250px;
      height: 275px;
      img {
        width: 250px;
        height: 275px;
        object-fit: contain;
      }
    }
    .prodDetails {
      color: rgb(54, 54, 54);
      margin-left: 10px;
      text-align: left;
      h3 {
        font-size: 22px;
        color: #e62c2c;
      }
      .shipping {
        margin-top: 0px;
        height: 30px;
        display: flex;
        align-items: center;
        font-weight: bold;
        i {
          font-size: 18px;
          margin-right: 5px;
        }
      }
      .buyNow {
        width: 90%;
        height: 40px;
        border: 2px solid rgb(241, 190, 72);
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 16px;
        margin-left: 7px;
        margin-top: 15px;
        margin-bottom: 25px;
        cursor: pointer;
        &:hover {
          border-color: #3d5a7b;
        }
      }
    }
  }
}

.modalBox {
  display: flex;
  justify-content: center;
  .modalAdd {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin-top: 20px;
    height: 50px;
    bottom: 25px;
    padding: 20px 10px;
    font-size: 18px;
    color: white;
    background-color: #3d5a7b;
    #close {
      font-size: 20px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
