.hero {
  height: 500px;
  background-size: cover;
  // background-position: center;
  color: white;
  display: flex;
  align-items: center;
}
.text-wrap {
  padding-left: 150px;
  h1 {
    font-size: 45px;
  }
  p {
    font-size: 20px;
    line-height: 25px;
  }
}

.index {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url(../images/hero.jpeg);
}

.about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url(../images/about.jpeg);
}

.features {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url(../images/features.jpeg);
}

.contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url(../images/contact.jpeg);
}
