.hero {
  height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url(/images/hero.jpeg);
  background-size: cover;
  // background-position: center;
  color: white;
  display: flex;
  align-items: center;
}
.text-wrap {
  padding-left: 200px;
  h1 {
    font-size: 45px;
  }
  p {
    font-size: 20px;
    line-height: 25px;
  }
}
