.browse {
  background-image: linear-gradient(
      rgba(167, 232, 189, 0.6),
      rgba(167, 232, 189, 0.6)
    ),
    url(../images/recipe-hero.jpg);
  background-position: center;
  background-size: cover;
  min-height: 1000px;
  display: block;
  .browseHolder {
    padding-top: 195px;
    margin-left: 10%;
    h1 {
      font-family: $CavB;
      font-size: 25px;
    }
    .recipeHolder {
      display: flex;
      align-items: center;
      .recipeCard {
        margin-top: 50px;
        margin-right: 10%;
        display: flex;
        height: 263px;
        width: 524px;
        a {
          height: 100%;
          width: 60%;
          background-color: $yellow;
          border-radius: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          font-family: $Cav;
          color: black;
        }
        .recipeText {
          height: 100%;
          width: 40%;
          border-radius: 24px;
          background-color: white;
          text-align: center;
          h1 {
            font-family: $LBlack;
            font-size: 18px;
            text-decoration: underline;
            margin-top: 42px;
          }
          p {
            // text-align: left;
            font-family: $Lato;
            font-size: 10px;
          }
          .sideBy {
            display: flex;
            justify-content: center;
            img {
              height: 23px;
              width: 24px;
            }
            p {
              margin-top: 5px;
              margin-left: 17px;
            }
          }
        }
      }
    }
  }
  footer {
    top: 950px;
  }
}

.pizza {
  background-image: url(../images/recipe-pizza.jpg);
  background-position: center;
  background-size: cover;
}

.burger {
  background-image: url(../images/recipe-burger.jpg);
  background-position: center;
  background-size: cover;
}

.pilaf {
  background-image: url(../images/recipe-pilaf.jpg);
  background-position: center;
  background-size: cover;
}

.chow {
  background-image: url(../images/recipe-chowmein.jpg);
  background-position: center;
  background-size: cover;
}
