.userForm {
  max-width: 980px;
  margin: 0 auto;
  min-height: 1967px;
  padding-top: 52px;
  display: block;
  text-align: left;
  h1 {
    margin-left: 2%;
    margin-top: 195px;
    margin-bottom: 72px;
    font-family: $CavB;
    font-size: 25px;
  }
  input {
    margin: 0 auto;
    height: 50px;
    width: 95%;
    display: block;
    margin-bottom: 50px;
    border: none;
    border-bottom: 3px solid black;
    padding: 5px;
    font-size: 20px;
    font-family: $LLight;
  }
  .formStart {
    position: relative;
    width: 100%;
    margin: 0 auto;
    .imageBtn {
      position: absolute;
      right: 25px;
      top: 8px;
      width: 110px;
      height: 36px;
      background-color: $lightpink;
      border-radius: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 17px;
      filter: drop-shadow(0px 5px 6px #00000016);
      font-family: $Cav;
      cursor: pointer;
    }
  }
  .formIngred,
  .formInstruct {
    width: 100%;
    margin-top: 100px;
    position: relative;
    font-family: $LLight;
    font-size: 20px;
    p {
      margin-left: 2%;
    }
  }
  .submitBtn {
    width: 422px;
    height: 52px;
    background-color: $lightpink;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family: $Cav;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 109px;
    filter: drop-shadow(0px 10px 6px #00000016);
  }

  .addBtn {
    position: absolute;
    right: 25px;
    bottom: 10px;
    height: 38px;
    width: 38px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    color: white;
    background-color: $lightpink;
    font-family: $GSLight;
    cursor: pointer;
  }
  footer {
    top: 1925px;
    left: 0;
  }
}

@media (max-width: 768px) {
  .userForm h1 {
    text-align: center;
  }
  .userForm input {
    max-width: 560px;
    font-size: 16px;
  }
  .userForm .formStart .imageBtn {
    right: 40px;
  }
  .userForm .addBtn {
    right: 40px;
  }
  .userForm .formIngred p {
    margin-left: 6%;
  }
  .userForm .formInstruct p {
    margin-left: 6%;
  }
  .userForm .submitBtn {
    max-width: 354px;
  }
}

@media (max-width: 320px) {
  .userForm h1 {
    font-size: 20px;
  }
  .userForm input {
    max-width: 283px;
    font-size: 12px;
  }
  .userForm .formStart .imageBtn {
    font-size: 12px;
    right: 20px;
    width: 92px;
    height: 33px;
  }
  .userForm .addBtn {
    right: 20px;
    font-size: 16px;
  }
  .userForm .formIngred p {
    margin-left: 5%;
  }
  .userForm .formInstruct p {
    margin-left: 5%;
  }
  .userForm .submitBtn {
    max-width: 283px;
    margin-top: 118px;
    font-size: 20px;
  }
}
