* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: "Caveat";
  src: url(../css/fonts/Caveat-Regular.ttf);
}

@font-face {
  font-family: "Caveat Bold";
  src: url(../css/fonts/Caveat-Bold.ttf);
}

@font-face {
  font-family: "Gill Sans";
  src: url(../css/fonts/Gill-Sans.otf);
}

@font-face {
  font-family: "Gill Sans Light";
  src: url(../css/fonts/Gill-Sans-Light.otf);
}

@font-face {
  font-family: "Gill Sans Italic";
  src: url(../css/fonts/Gill-Sans-Italic.otf);
}

@font-face {
  font-family: "Lato";
  src: url(../css/fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: "Lato Light";
  src: url(../css/fonts/Lato-Light.ttf);
}

@font-face {
  font-family: "Lato Light Italic";
  src: url(../css/fonts/Lato-LightItalic.ttf);
}

@font-face {
  font-family: "Lato Black";
  src: url(../css/fonts/Lato-Black.ttf);
}
