//fonts
$Cav: "Caveat";
$CavB: "Caveat Bold";
$GS: "Gill Sans";
$GSLight: "Gill Sans Light";
$GSItal: "Gill Sans Italic";
$Lato: "Lato";
$LLight: "Lato Light";
$LLItal: "Lato Light Italic";
$LBlack: "Lato Black";

// colors
$green: #a7e8bd;
$lightpink: #fcbcb8;
$pink: #efa7a7;
$yellow: #ffd972;
$red: #f25c54;

//media sizes
$tablet: 768px;
$phone: 360px;

//extras
#underline {
  text-decoration: underline;
}
