.view {
  min-height: 1542px;
  width: 1300px;
  display: block;
  margin: 0 auto;
  .viewCard {
    margin-top: 243px;
    margin-bottom: 58px;
    height: 421px;
    width: 95%;
    display: flex;
    .viewImg {
      width: 50%;
      margin-right: 45px;
      img {
        height: 100%;
        width: 100%;
      }
    }
    .viewText {
      width: 455px;
      height: 100%;
    }
  }
  .ingredList {
    margin-bottom: 58px;
  }
  h1 {
    font-size: 25px;
    font-family: $LBlack;
    margin-bottom: 35px;
  }
  h2 {
    font-size: 20px;
    font-family: $LBlack;
    margin-bottom: 35px;
    margin-top: 35px;
  }
  li {
    font-family: $Cav;
    font-size: 20px;
    margin-bottom: 10px;
  }
  p {
    font-family: $Cav;
    font-size: 20px;
  }
  .editBtn {
    margin-top: 62px;
    background-color: $yellow;
    height: 42px;
    width: 127px;
    font-size: 20px;
    font-family: $Cav;
    border-radius: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      text-decoration: none;
      color: black;
    }
  }
  footer {
    top: 1740px;
    left: 0;
  }
}

@media (max-width: 768px) {
  .view {
    width: 456px;
    min-height: 2082px;
  }
  .view .viewCard {
    flex-direction: column;
    max-width: 50%;
  }
  .view .viewCard .viewImg {
    height: 421px;
    max-width: 100%;
    margin-bottom: 58px;
  }
  .view .viewCard .viewText {
    width: 50%;
  }
  .view footer {
    top: 2270px;
  }
}

@media (max-width: 320px) {
  .view {
    max-width: 251px;
    min-height: 1751px;
  }
  .view h1 {
    font-size: 20px;
  }
  .view p {
    font-size: 16px;
  }
  .view .viewCard {
    margin-top: 164px;
  }
  .view .viewCard .recipeTitle {
    left: -85px;
    top: 145px;
  }
  .view .viewCard .viewImg {
    height: 226px;
    max-width: 251px;
    margin-bottom: 58px;
  }
  .view .viewCard .viewText {
    max-width: 200px;
  }
  .view footer {
    top: 2270px;
  }
}
