.about {
  height: 587px;
  margin: 0 auto;
  width: 90%;
  display: flex;
  margin-top: 213px;
  .aboutImg {
    height: 587px;
    width: 35%;
    background-position: center;
    background-size: cover;
  }
  .aboutText {
    width: 100%;
    margin-left: 3%;
    h1 {
      margin-bottom: 40px;
      text-align: center;
      font-size: 32px;
    }
    .found {
      text-align: center;
      font-size: 26px;
    }
    p {
      margin-bottom: 61px;
    }
  }
}

.blank {
  height: 291px;
}

.abt1 {
  background-image: url(../images/about-photo.jpg);
}

.abt2 {
  background-image: url(../images/about-photo-two.jpg);
}

@media (max-width: $tablet) {
  .about {
    margin-top: 76px;
    max-height: 400px;
    margin-bottom: 0px;
  }
  .about .aboutImg {
    height: 343px;
    min-width: 208px;
  }
  .about .aboutText {
    text-align: center;
    width: 100%;
    margin-left: 12%;
    h1 {
      font-size: 12px;
      margin-bottom: 25px;
    }
    .found {
      font-size: 8px;
    }
    p {
      margin-bottom: 35px;
    }
  }
  .blank {
    height: 109px;
  }
}

@media (max-width: $phone) {
  .about {
    margin-top: 159px;
    margin-bottom: 190px;
    height: 150px;
  }
  .about .aboutImg {
    min-width: 73px;
    height: 132px;
  }
  .about .aboutText {
    h1 {
      margin-bottom: 16px;
      font-size: 6px;
    }
    .found {
      font-size: 6px;
    }
    p {
      margin-bottom: 16px;
    }
  }
  .blank {
    height: 60px;
  }
}
