.blog-card {
  width: 1464;
  height: 463px;
  background-color: $teal;
  margin-top: 117px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  .img-holder {
    width: 614px;
    height: 372px;
    display: flex;
    justify-content: space-between;
    .blog-img {
      width: 250px;
      height: 100%;
    }
  }
  .text-holder {
    width: 40%;
    text-align: center;
    h1 {
      color: white;
      font-size: 32px;
      font-family: $SB;
    }
    p {
      padding-top: 50px;
      padding-bottom: 50px;
      font-size: 16px;
      color: white;
      font-family: $SR;
    }
    .readmore {
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        text-decoration: none;
        color: white;
        margin: 0 auto;
        padding: 34px 111px;
        border: solid 1px white;
        font-size: 16px;
      }
    }
  }
}

#img1 {
  background-image: url(../images/becoming.jpg);
  background-position: center;
  background-size: cover;
}

#img2 {
  background-image: url(../images/finding\ me.jpg);
  background-position: center;
  background-size: cover;
}

#bookclubs {
  .img-holder {
    max-width: 622px;
    height: 100%;
    background-color: aqua;
    background-image: url(../images/open-book-blog.jpg);
    background-position: center;
    background-size: cover;
  }
}

#ereading {
  margin-bottom: 140px;
  .img-holder {
    max-width: 622px;
    height: 100%;
    background-color: aqua;
    background-image: url(../images/ereading-blog.jpg);
    background-position: center;
    background-size: cover;
  }
}

@media (max-width: $tablet) {
  .blog-card {
    max-width: 552px;
    height: 229px;
    margin: 0 auto;
    margin-bottom: 58px;
    margin-top: 80px;
    .img-holder {
      height: 146px;
      width: 200px;
    }
    .text-holder {
      text-align: center;
      height: 146px;
      width: 50%;
      h1 {
        font-size: 12px;
        padding-top: -50px;
      }
      p {
        font-size: 11px;
        padding: 16px;
      }
      .readmore {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        a {
          text-decoration: none;
          color: white;
          margin: 0 auto;
          padding: 0;
          border: solid 1px white;
          font-size: 12px;
        }
      }
    }
  }
}
