.bookclub-hero {
  height: 463;
  width: 1464;
  background-image: (
      linear-gradient(
        90deg,
        rgba(88, 124, 131, 1) 0%,
        rgba(88, 124, 131, 0.35477941176470584) 100%
      )
    ),
    url(../images/book-club-hero.jpg);
  background-position: center;
  background-size: cover;
  margin-top: 140px;
  margin-bottom: 105px;

  .hero-text {
    height: 463px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;

    h1 {
      font-size: 32px;
      font-family: $SB;
    }
    h2 {
      font-size: 26px;
    }
  }
}
.bookclub-content {
  width: 1464;
  min-height: 515px;
  display: flex;
  margin-bottom: 140px;
  .bookclub-img {
    width: 622px;
    height: 463px;
    background-image: url(../images/open-book-blog.jpg);
    background-position: center;
    background-size: cover;
  }
  .bookclub-text {
    width: 70%;
    margin-left: 40px;
  }
}
