.eread-hero {
  height: 463;
  width: 1464;
  background-image: (
      linear-gradient(
        90deg,
        rgba(88, 124, 131, 1) 0%,
        rgba(88, 124, 131, 0.35477941176470584) 100%
      )
    ),
    url(../images/eread-hero.jpg);
  background-position: center;
  background-size: cover;
  margin-top: 140px;
  margin-bottom: 105px;

  .hero-text {
    height: 463px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;

    h1 {
      font-size: 32px;
      font-family: $SB;
    }
    h2 {
      font-size: 26px;
    }
  }
}
.eread-content {
  width: 1464;
  min-height: 515px;
  display: flex;
  margin-bottom: 140px;
  .eread-img {
    width: 622px;
    height: 463px;
    background-image: url(../images/ereading-blog.jpg);
    background-position: center;
    background-size: cover;
  }
  .eread-text {
    width: 70%;
    margin-left: 40px;
  }
}
@media (max-width: $tablet) {
  .eread-hero {
      width: 562px;
      height: 197px;
      margin: 0 auto;
      margin-top: 77px;
      margin-bottom: 45px;

      .hero-text {
          height: 100%;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          color: white;
  
          h1 {
              font-size: 12px;
              font-family: $SB;
          }
          h2 {
              font-size: 11px;
          }
          p {
              font-size: 8px;
          }
      }

  }
  .eread-content {
      height: 100%;
      width: 562px;
      display: flex;
      margin: 0 auto;
      margin-bottom: 50px;
          .eread-img {
              width: 260px;
              height: 205px;
          }
      
      
      
  }
}