.hero {
  max-width: 1500px;
  height: 530px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(88, 124, 131, 0.6),
      rgba(88, 124, 131, 0.6)
    ),
    url(../images/home-hero.jpg);
  background-position: center;
  background-size: cover;
  margin-top: 158px;
  margin-bottom: 176px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .heroText {
    color: white;
    margin-right: 200px;
    text-transform: uppercase;
    h1 {
      font-size: 32px;
    }
  }
}

.homeWrap {
  min-height: 600px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 188px;
  .homeCard {
    height: 100%;
    max-width: 390px;
    text-align: center;
    .homeImg {
      margin: 0 auto;
      height: 491px;
      width: 306px;
      margin-bottom: 50px;
      background-position: center;
      background-size: cover;
    }
    p {
      margin-bottom: 40px;
    }
    .outlineButton {
      height: $outline-height;
      width: $outline-width;
      border: $black solid 1px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        cursor: pointer;
      }
    }
  }
  a {
    color: $black;
    text-decoration: none;
  }
}

.mockingbird {
  background-image: url(../images/to-kill-a-mockingbird.jpg);
}

.becoming {
  background-image: url(../images/becoming.jpg);
}

.firestarter {
  background-image: url(../images/firestarter.jpg);
}
