//site fonts
$SR: "Segoe UI Regular";
$SB: "Segoe UI Regular";

//site colors
$teal: #587c835e;
$white: white;
$black: black;

//site widths for media queries
$pc: 1920px;
$tablet: 768px;
$phone: 390px;

// -button sizes-

// outlined button
$outline-height: 222px;
$outline-width: 68px;

//solid button
$solid-height: 170px;
$solid-width: 45px;
