* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: Arial;
}
html, body {
 height: 100%
}
h1, h2, h3, h4, h5, h6, p {
 margin-bottom: 16px
}

nav {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: #677EA8;
}

.hero {
    height: 500px;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blogHero {
    height: 300px;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    text-align: center;
    color: white;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 75px;
    margin-bottom: 50px;
}

.cards-wrap {
    display: flex;
    width: 100%;
    margin-bottom: 50px;
}

.cards-wrap .article-card {
    width: 20%;
    height: 400px;
    margin-right: 50px;
    /* background-color: red; */
}

.article-card img {
    width: 100%;
    max-height: 225px;
    margin-bottom: 10px;
}

.article-card img:hover {
    cursor: pointer;
}

.learn-wrap {
    display: flex;
    justify-content: flex-end;
}

.learn-more {
    margin-right: 50px;
}

.learn-more .learnImg {
    height: 350px;
    width: 650px;
    background-image: url(../images/us.jpeg);
    background-position: center;
    background-size: cover;
}

.learn-more .learnImg:hover {
    cursor: pointer;
}

footer {
    margin-top: 100px;
    height: 150px;
    border-top: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.home {
    background-image: url(../images/home.jpeg);
}

.about {
    background-image: url(../images/about.jpeg);
}

.blog {
    background-image: url(../images/blog.jpeg);
}

.contact {
    background-image: url(../images/contactUs.jpeg);
}
