@font-face {
  font-family: "MarkOT";
  src: url(../css/fonts/MarkOT-Book.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MarkOT";
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.siteWrapper {
  width: 70%;
  min-height: 300px;
  margin: 0 auto;
  margin-top: 25px;
}
.siteWrapper img {
  width: 100%;
  object-fit: contain;
}

nav {
  background-color: #ece9e4;
  height: 160px;
}
nav .topNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75%;
  width: 95%;
  margin: 0 auto;
}
nav .topNav .search {
  width: 40%;
  position: relative;
}
nav .topNav .search i {
  font-size: 30px;
  position: absolute;
  top: 5px;
  left: 20px;
  cursor: pointer;
}
nav .topNav .search input {
  width: 100%;
  height: 40px;
  border-radius: 25px;
  border: 1px solid #c5c5c5;
  background-color: #f3f3f3;
  padding-left: 60px;
}
nav .topNav .icons {
  color: #473036;
  display: flex;
  width: 25%;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
}
nav .topNav .icons .navText {
  font-size: 16px;
}
nav .topNav .icons .support {
  display: flex;
  flex-direction: column;
  text-align: center;
}
nav .topNav .icons .support i {
  font-size: 30px;
  cursor: pointer;
}
nav .topNav .icons .account {
  display: flex;
  flex-direction: column;
  text-align: center;
}
nav .topNav .icons .account i {
  font-size: 35px;
  cursor: pointer;
}
nav .topNav .icons .cart {
  position: relative;
  display: flex;
  flex-direction: column;
}
nav .topNav .icons .cart .cartCounter {
  position: absolute;
  background-color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  font-size: 16px;
  border-radius: 50px;
  color: white;
  top: -7px;
  right: -10px;
}
nav .bottomNav .navLinks {
  width: 85%;
  margin-left: 25px;
  display: flex;
  justify-content: space-around;
}
nav .bottomNav .navIcon i {
  margin-right: 8px;
}
nav .bottomNav a {
  color: black;
  text-decoration: none;
  font-size: 16px;
}
nav .bottomNav a:hover {
  background-color: white;
  padding: 12px;
  border-radius: 25px;
}

.dealBanner {
  height: 75px;
  display: flex;
  align-items: center;
  color: white;
  background-color: #473036;
  font-size: 12px;
}
.dealBanner .dealText {
  text-align: center;
  width: 25%;
  border-left: 1px solid white;
  height: 60%;
}
.dealBanner .dealText:first-child {
  border-left: none;
}
.dealBanner .dealText a {
  color: white;
}
.dealBanner .dealText span {
  font-size: 10px;
}

.dropDowns {
  margin-top: 15px;
  margin-bottom: 35px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dropDowns .boxes {
  display: flex;
  justify-content: space-between;
  width: 72%;
}
.dropDowns .boxes .dropBox {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #898989;
  border-radius: 5px;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 100px;
  cursor: pointer;
}
.dropDowns .boxes .dropBox:hover {
  border-color: black;
}
.dropDowns .boxes .dropBox i {
  margin-left: 15px;
  font-size: 20px;
}
.dropDowns .popularity {
  display: flex;
  align-items: center;
  width: 200px;
}
.dropDowns .popularity p {
  margin-bottom: 5px;
  font-size: 12px;
}
.dropDowns .popularity #pop {
  font-size: 14px;
}
.dropDowns .popularity i {
  margin-left: 15px;
  font-size: 20px;
}

.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.home .product {
  background-color: white;
  max-width: 260px;
  margin-bottom: 25px;
  box-shadow: 0 4px 8px 0 rgba(158, 158, 158, 0.2), 0 6px 20px 0 rgba(158, 158, 158, 0.2);
}
.home .product:hover {
  border: 2px solid #3d5a7b;
}
.home .product .productImg {
  background-color: white;
  width: 250px;
  height: 275px;
}
.home .product .productImg img {
  width: 250px;
  height: 275px;
  object-fit: contain;
}
.home .product .prodDetails {
  color: rgb(54, 54, 54);
  margin-left: 10px;
  text-align: left;
}
.home .product .prodDetails h3 {
  font-size: 22px;
  color: #e62c2c;
}
.home .product .prodDetails .shipping {
  margin-top: 0px;
  height: 30px;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.home .product .prodDetails .shipping i {
  font-size: 18px;
  margin-right: 5px;
}
.home .product .prodDetails .buyNow {
  width: 90%;
  height: 40px;
  border: 2px solid rgb(241, 190, 72);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
  margin-left: 7px;
  margin-top: 15px;
  margin-bottom: 25px;
  cursor: pointer;
}
.home .product .prodDetails .buyNow:hover {
  border-color: #3d5a7b;
}

.cartPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.cartPage p {
  margin-top: 15px;
}
.cartPage h1 {
  letter-spacing: 9px;
  margin-bottom: 50px;
}
.cartPage .product {
  background-color: white;
  max-width: 260px;
  margin-top: 50px;
  margin-bottom: 25px;
  box-shadow: 0 4px 8px 0 rgba(158, 158, 158, 0.2), 0 6px 20px 0 rgba(158, 158, 158, 0.2);
}
.cartPage .product:hover {
  border: 2px solid #3d5a7b;
}
.cartPage .product .productImg {
  background-color: white;
  width: 250px;
  height: 275px;
}
.cartPage .product .productImg img {
  width: 250px;
  height: 275px;
  object-fit: contain;
}
.cartPage .product .prodDetails {
  color: rgb(54, 54, 54);
  margin-left: 10px;
  text-align: left;
}
.cartPage .product .prodDetails h3 {
  font-size: 22px;
  color: #e62c2c;
}
.cartPage .product .prodDetails .shipping {
  margin-top: 0px;
  height: 30px;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.cartPage .product .prodDetails .shipping i {
  font-size: 18px;
  margin-right: 5px;
}
.cartPage .product .prodDetails .removeCart {
  width: 90%;
  height: 40px;
  border: 2px solid rgb(241, 190, 72);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
  margin-left: 7px;
  margin-top: 15px;
  margin-bottom: 25px;
  cursor: pointer;
}
.cartPage .product .prodDetails .removeCart:hover {
  border-color: #3d5a7b;
}

footer {
  margin-top: 30px;
}
footer p {
  text-align: center;
}
footer .footInfo {
  height: 50px;
  background-color: #473036;
  display: flex;
  align-items: end;
  justify-content: space-between;
  color: white;
  margin-bottom: 10px;
}
footer .footInfo h6 {
  font-size: 12px;
}
footer .footInfo .store {
  display: flex;
}
footer .footInfo .store i {
  margin-left: 25px;
  margin-right: 15px;
  cursor: pointer;
}
footer .footInfo .socials {
  display: flex;
  width: 25%;
}
footer .footInfo .socials .socialIcons {
  width: 30%;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
}
footer .footInfo .socials .socialIcons i {
  cursor: pointer;
}
footer .extInfo {
  width: 97%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  color: #473036;
  margin-bottom: 25px;
}
footer .extInfo .footLinks {
  width: 350px;
}
footer .extInfo .footLinks h3 {
  margin-bottom: 15px;
}
footer .extInfo .footLinks p {
  text-align: left;
  margin-bottom: 8px;
}
footer .extInfo .footLinks p:hover {
  text-decoration: underline;
  color: #947880;
  cursor: pointer;
}
footer .extInfo .mailList {
  width: 375px;
}
footer .extInfo .mailList .emailBox {
  display: flex;
  margin-top: 30px;
  margin-bottom: 35px;
}
footer .extInfo .mailList .emailBox input {
  width: 70%;
  height: 35px;
  border: 2px solid rgb(199, 199, 199);
  border-radius: 5px;
  padding-left: 5px;
}
footer .extInfo .mailList .emailBox #country {
  width: 30%;
  background-color: white;
  border: 2px solid #f9c507;
  border-radius: 0px;
  padding-left: 0px;
}
footer .extInfo .mailList .emailBox #country:hover {
  background-color: #f9c507;
  cursor: pointer;
}
footer .extInfo .mailList .countryBox {
  width: 175px;
  display: flex;
  margin-top: 25px;
  justify-content: space-around;
}
footer .extInfo .mailList .countryBox img {
  height: 20px;
  width: 20px;
  border: grey;
}
footer .extInfo .mailList .countryBox i {
  cursor: pointer;
}
footer hr {
  margin-bottom: 15px;
}
footer .footTrademark {
  height: 150px;
  color: #473036;
  font-size: 12px;
}
footer .footTrademark #firstP {
  margin-bottom: 50px;
}
footer .footTrademark span {
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
}
footer .footTrademark span:first-child {
  margin-left: 15px;
}

/*# sourceMappingURL=styles.css.map */
