* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI Regular";
  font-size: 16px;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.site-wrapper {
  margin: 0 auto;
  width: 95%;
  min-height: 100%;
}

@font-face {
  font-family: "Segoe UI Regular";
  src: url(../css/fonts/segoeui.ttf);
}
@font-face {
  font-family: "Segoe UI Bold";
  src: url(../css/fonts/segoeuib.ttf);
}
nav {
  height: 108px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}
nav a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  display: flex;
  align-items: center;
}
nav a img {
  height: 50px;
  width: 50px;
  margin-left: 10px;
}
nav .logoWrapper {
  display: flex;
  align-items: center;
  padding-left: 33px;
}
nav .logoWrapper .logo {
  height: 75px;
  width: 75px;
  background-image: url(../images/books-stack-of-three.png);
  background-size: cover;
  background-position: center;
}
nav .logoWrapper .logoText {
  font-size: 16px;
  padding-left: 23px;
}
nav input {
  background: url("../images/icons8-search-25.png") left no-repeat;
  height: 44px;
  width: 604px;
  padding-left: 25px;
  font-size: 16px;
  background-color: rgba(88, 124, 131, 0.368627451);
}
nav .links {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  width: 50%;
}

.hero {
  max-width: 1500px;
  height: 530px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(88, 124, 131, 0.6), rgba(88, 124, 131, 0.6)), url(../images/home-hero.jpg);
  background-position: center;
  background-size: cover;
  margin-top: 158px;
  margin-bottom: 176px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.hero .heroText {
  color: white;
  margin-right: 200px;
  text-transform: uppercase;
}
.hero .heroText h1 {
  font-size: 32px;
}

.homeWrap {
  min-height: 600px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 188px;
}
.homeWrap .homeCard {
  height: 100%;
  max-width: 390px;
  text-align: center;
}
.homeWrap .homeCard .homeImg {
  margin: 0 auto;
  height: 491px;
  width: 306px;
  margin-bottom: 50px;
  background-position: center;
  background-size: cover;
}
.homeWrap .homeCard p {
  margin-bottom: 40px;
}
.homeWrap .homeCard .outlineButton {
  height: 68px;
  width: 222px;
  border: black solid 1px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homeWrap .homeCard .outlineButton:hover {
  cursor: pointer;
}
.homeWrap a {
  color: black;
  text-decoration: none;
}

.mockingbird {
  background-image: url(../images/to-kill-a-mockingbird.jpg);
}

.becoming {
  background-image: url(../images/becoming.jpg);
}

.firestarter {
  background-image: url(../images/firestarter.jpg);
}

footer {
  height: 92px;
  background-color: #587c83;
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
}
footer .footWrap {
  margin: 0 auto;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footWrap .footerNav {
  width: 300px;
  display: flex;
  justify-content: space-around;
}
footer .footWrap .footerNav a {
  text-decoration: none;
  color: white;
}
footer .footWrap .socials {
  width: 200px;
  display: flex;
  justify-content: space-around;
}
footer .footWrap .socials .socIcon {
  height: 35px;
  width: 35px;
  background-size: cover;
  background-position: center;
}
footer .footWrap .socials .socIcon:hover {
  cursor: pointer;
}

.facebook {
  background-image: url(../images/facebook_w.png);
}

.instagram {
  background-image: url(../images/instagram_w.png);
}

.twitter {
  background-image: url(../images/twitter_w.png);
}

@media (max-width: 768px) {
  footer {
    font-size: 11px;
  }
  footer .footWrap .socials {
    width: 125px;
  }
  footer .footWrap .socials .socIcon {
    height: 25px;
    width: 25px;
  }
}
@media (max-width: 390px) {
  footer {
    font-size: 6px;
  }
  footer .footWrap .footerNav {
    width: 150px;
  }
  footer .footWrap .socials {
    width: 100px;
  }
  footer .footWrap .socials .socIcon {
    height: 15px;
    width: 15px;
  }
}

/*# sourceMappingURL=styles.css.map */
