.bold {
  font-family: "Segoe UI Bold";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI Regular";
  font-size: 16px;
}

html,
body {
  height: 100%;
}

.site-wrapper {
  margin: 0 auto;
  width: 95%;
  min-height: 100%;
}

@font-face {
  font-family: "Segoe UI Regular";
  src: url(../css/fonts/segoeui.ttf);
}
@font-face {
  font-family: "Segoe UI Bold";
  src: url(../css/fonts/segoeuib.ttf);
}
@media (max-width: 768px) {
  * {
    font-size: 11px;
  }
}
@media (max-width: 390px) {
  * {
    font-size: 6px;
  }
}
nav {
  height: 108px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}
nav a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  display: flex;
  align-items: center;
}
nav a img {
  height: 50px;
  width: 50px;
  margin-left: 10px;
}
nav .logoWrapper {
  display: flex;
  align-items: center;
  padding-left: 33px;
}
nav .logoWrapper .logo {
  height: 75px;
  width: 75px;
  background-image: url(../images/books-stack-of-three.png);
  background-size: cover;
  background-position: center;
}
nav .logoWrapper .logoText {
  font-size: 16px;
  padding-left: 23px;
}
nav input {
  background: url("../images/icons8-search-25.png") left no-repeat;
  height: 44px;
  width: 604px;
  padding-left: 25px;
  font-size: 16px;
  background-color: rgba(88, 124, 131, 0.368627451);
}
nav .links {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  width: 50%;
}

.hero {
  max-width: 1500px;
  height: 530px;
  margin: 0 auto;
  background-color: #587c83;
  background-position: center;
  background-size: cover;
  margin-top: 158px;
  margin-bottom: 176px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.hero .heroText {
  color: white;
  margin-right: 200px;
  text-transform: uppercase;
}
.hero .heroText h1 {
  font-size: 32px;
}

.homeWrap {
  min-height: 600px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 188px;
}
.homeWrap .homeCard {
  height: 100%;
  max-width: 390px;
  text-align: center;
}
.homeWrap .homeCard .homeImg {
  margin: 0 auto;
  height: 491px;
  max-width: 306px;
  margin-bottom: 50px;
  background-position: center;
  background-size: cover;
}
.homeWrap .homeCard p {
  margin-bottom: 40px;
}
.homeWrap .homeCard .bold {
  font-size: 32px;
}
.homeWrap .homeCard .outlineButton {
  height: 68px;
  width: 222px;
  border: black solid 1px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homeWrap a {
  color: black;
  text-decoration: none;
}

.mockingbird {
  background-image: url(../images/to-kill-a-mockingbird.jpg);
}

.becoming {
  background-image: url(../images/becoming.jpg);
}

.firestarter {
  background-image: url(../images/firestarter.jpg);
}

.heroImg {
  background-image: linear-gradient(rgba(88, 124, 131, 0.6), rgba(88, 124, 131, 0.6)), url(../images/home-hero.jpg);
}

@media (max-width: 768px) {
  .hero {
    max-width: 552px;
    height: 329px;
    margin-bottom: 61px;
    margin-top: 88px;
  }
  .hero .heroText {
    margin-right: 80px;
  }
  .hero .heroText h1 {
    font-size: 12px;
  }
  .hero .heroText p {
    font-size: 7px;
  }
  .homeWrap {
    justify-content: center;
    flex-direction: column;
    margin-bottom: 0px;
  }
  .homeWrap .homeCard {
    margin: 0 auto;
    margin-bottom: 71px;
  }
  .homeWrap .homeCard .homeImg {
    width: 175px;
    height: 281px;
  }
  .homeWrap .homeCard .bold {
    font-size: 11px;
  }
  .homeWrap .homeCard .outlineButton {
    font-size: 12px;
    width: 183px;
    height: 50px;
  }
}
@media (max-width: 390px) {
  .hero {
    max-width: 316px;
    height: 193px;
    margin-bottom: 61px;
    margin-top: 55px;
  }
  .hero .heroText {
    margin-right: 70px;
  }
  .hero .heroText h1 {
    font-size: 6px;
    margin-bottom: 22px;
  }
  .hero .heroText p {
    font-size: 6px;
  }
  .homeWrap {
    justify-content: center;
    flex-direction: column;
    margin-bottom: 0px;
  }
  .homeWrap .homeCard {
    margin: 0 auto;
    margin-bottom: 88px;
  }
  .homeWrap .homeCard .homeImg {
    width: 70px;
    height: 112px;
  }
  .homeWrap .homeCard .homeText {
    margin: 0 auto;
    width: 50%;
  }
  .homeWrap .homeCard .bold {
    font-size: 6px;
  }
  .homeWrap .homeCard .outlineButton {
    font-size: 12px;
    width: 114px;
    height: 30px;
  }
}
.about {
  height: 587px;
  margin: 0 auto;
  width: 90%;
  display: flex;
  margin-top: 213px;
}
.about .aboutImg {
  height: 587px;
  width: 35%;
  background-position: center;
  background-size: cover;
}
.about .aboutText {
  width: 100%;
  margin-left: 40px;
}
.about .aboutText h1 {
  margin-bottom: 40px;
}
.about .aboutText p {
  margin-bottom: 61px;
}

.blank {
  height: 291px;
}

.abt1 {
  background-image: url(../images/about-photo.jpg);
}

.abt2 {
  background-image: url(../images/about-photo-two.jpg);
}

.bookset {
  height: 375px;
  max-width: 100%;
  margin-top: 180px;
  margin-bottom: 300px;
}
.bookset h1 {
  font-family: "Segoe UI Bold";
  font-size: 26px;
  margin-bottom: 65px;
}
.bookset .bookWrap {
  height: 100%;
  width: 100%;
  display: flex;
}
.bookset .bookWrap .set {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}
.bookset .bookWrap .set .setImg {
  max-height: 100%;
  max-width: 40%;
  background-color: green;
  background-position: center;
  background-size: cover;
  margin-right: 5%;
}
.bookset .bookWrap .set .setText {
  max-height: 100%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bookset .bookWrap .set .setText p {
  margin-bottom: 15%;
}
.bookset .bookWrap .set .setText .outlineButton {
  height: 68px;
  max-width: 222px;
  border: black solid 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bookset .bookWrap .set .setText .outlineButton a {
  text-decoration: none;
  color: black;
}

.twilight {
  background-image: url(../images/twilight-box-set.jpg);
  height: 250px;
  width: 225px;
}

.hp {
  background-image: url(../images/hp-box-set.jpg);
  height: 250px;
  width: 225px;
}

.got {
  background-image: url(../images/got-box-set.jpg);
  height: 200px;
  width: 200px;
}

.findingMe {
  background-image: url(../images/finding\ me.jpg);
  height: 300px;
  width: 200px;
}

.mlk {
  background-image: url(../images/mlk-biography.jpg);
  height: 300px;
  width: 200px;
}

.eleanor {
  background-image: url(../images/elenor-roosevelt-biography.jpg);
  height: 300px;
  width: 200px;
}

.misery {
  background-image: url(../images/misery.jpg);
  height: 300px;
  width: 200px;
}

.stein {
  background-image: url(../images/frankenstein.jpg);
  height: 300px;
  width: 200px;
}

.phantoms {
  background-image: url(../images/phantoms.jpg);
  height: 300px;
  width: 200px;
}

.pooh {
  background-image: url(../images/winnie\ the\ pooh.jpg);
  height: 300px;
  width: 200px;
}

.hat {
  background-image: url(../images/cat\ and\ the\ hat.jpg);
  height: 300px;
  width: 200px;
}

.space {
  background-image: url(../images/fun\ facts\ about\ space.jpg);
  height: 230px;
  width: 230px;
}

.account-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 600px;
}
.account-wrapper .login-here {
  display: flex;
  flex-direction: column;
  width: 233px;
  height: 300px;
}
.account-wrapper .login-here .spacing {
  height: 50px;
}
.account-wrapper .login-here h1 {
  font-size: 26px;
  font-family: "Segoe UI Regular";
  text-align: left;
}
.account-wrapper .login-here input {
  border: none;
  border-bottom: 1px solid black;
  width: 233px;
  margin-top: 50px;
}
.account-wrapper .login-here .login {
  display: flex;
  align-items: center;
  justify-content: center;
}
.account-wrapper .login-here .login input {
  width: 170px;
  height: 45px;
  background-color: #587c83;
  border: none;
  cursor: pointer;
  color: white;
}

.cart {
  height: 550px;
  width: 100%;
  border-bottom: 1px solid black;
}
.cart .cartWrap {
  height: 100%;
  display: flex;
  align-items: center;
}
.cart .cartWrap .cartImg {
  background-position: center;
  background-size: cover;
  margin-left: 5%;
}
.cart .cartWrap .cartText {
  margin-left: 22px;
}
.cart .cartWrap .cartText .editCart {
  margin-top: 43px;
}
.cart .cartWrap .cartText .editCart span {
  text-decoration: underline;
}
.cart .cartWrap .cartText .editCart span:hover {
  cursor: pointer;
}

.blnk {
  height: 776px;
}

.favorites-hero {
  height: 463;
  width: 1464;
  background-image: linear-gradient(90deg, rgb(88, 124, 131) 0%, rgba(88, 124, 131, 0.3547794118) 100%), url(../images/february-favorites-hero.jpg);
  background-position: center;
  background-size: cover;
  margin-top: 140px;
  margin-bottom: 140px;
}
.favorites-hero .hero-text {
  height: 463px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
}
.favorites-hero .hero-text h1 {
  font-size: 32px;
  font-family: "Segoe UI Bold";
}
.favorites-hero .hero-text h2 {
  font-size: 26px;
}
.favorites-hero .hero-text p {
  font-size: 16px;
}

.book-card {
  width: 1464;
  height: 380px;
  display: flex;
  margin-bottom: 140px;
}
.book-card .book-img {
  width: 250px;
  height: 380px;
  background-color: beige;
  background-image: url(../images/becoming.jpg);
  background-position: center;
  background-size: cover;
}
.book-card .book-text {
  width: 80%;
  margin-left: 35px;
}
.book-card .book-text h1 {
  font-size: 26px;
  margin-bottom: 50px;
  font-family: Segoe UI bold;
}
.book-card .book-text p {
  font-size: 16px;
}

#findingMe .book-img {
  background-image: url(../images/finding\ me.jpg);
}

.blog-card {
  width: 1464;
  height: 463px;
  background-color: #587c83;
  margin-top: 117px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.blog-card .img-holder {
  width: 614px;
  height: 372px;
  display: flex;
  justify-content: space-between;
}
.blog-card .img-holder .blog-img {
  width: 250px;
  height: 100%;
}
.blog-card .text-holder {
  width: 40%;
  text-align: center;
}
.blog-card .text-holder h1 {
  color: white;
  font-size: 32px;
  font-family: "Segoe UI Bold";
}
.blog-card .text-holder p {
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 16px;
  color: white;
  font-family: "Segoe UI Bold";
}
.blog-card .text-holder .readmore {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog-card .text-holder .readmore a {
  text-decoration: none;
  color: white;
  margin: 0 auto;
  padding: 20px 100px;
  border: solid 1px white;
  font-size: 16px;
}

#img1 {
  background-image: url(../images/becoming.jpg);
  background-position: center;
  background-size: cover;
}

#img2 {
  background-image: url(../images/finding\ me.jpg);
  background-position: center;
  background-size: cover;
}

#bookclubs .img-holder {
  width: 622px;
  height: 100%;
  background-color: aqua;
  background-image: url(../images/open-book-blog.jpg);
  background-position: center;
  background-size: cover;
}

#ereading {
  margin-bottom: 140px;
}
#ereading .img-holder {
  width: 622px;
  height: 100%;
  background-color: aqua;
  background-image: url(../images/ereading-blog.jpg);
  background-position: center;
  background-size: cover;
}

.bookclub-hero {
  height: 463;
  width: 1464;
  background-image: linear-gradient(90deg, rgb(88, 124, 131) 0%, rgba(88, 124, 131, 0.3547794118) 100%), url(../images/book-club-hero.jpg);
  background-position: center;
  background-size: cover;
  margin-top: 140px;
  margin-bottom: 105px;
}
.bookclub-hero .hero-text {
  height: 463px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
}
.bookclub-hero .hero-text h1 {
  font-size: 32px;
  font-family: "Segoe UI Bold";
}
.bookclub-hero .hero-text h2 {
  font-size: 26px;
}

.bookclub-content {
  width: 1464;
  height: 515px;
  display: flex;
  margin-bottom: 140px;
}
.bookclub-content .bookclub-img {
  width: 622px;
  height: 463px;
  background-image: url(../images/open-book-blog.jpg);
  background-position: center;
  background-size: cover;
}
.bookclub-content .bookclub-text {
  width: 70%;
  margin-left: 40px;
}

.eread-hero {
  height: 463;
  width: 1464;
  background-image: linear-gradient(90deg, rgb(88, 124, 131) 0%, rgba(88, 124, 131, 0.3547794118) 100%), url(../images/eread-hero.jpg);
  background-position: center;
  background-size: cover;
  margin-top: 140px;
  margin-bottom: 105px;
}
.eread-hero .hero-text {
  height: 463px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
}
.eread-hero .hero-text h1 {
  font-size: 32px;
  font-family: "Segoe UI Bold";
}
.eread-hero .hero-text h2 {
  font-size: 26px;
}

.eread-content {
  width: 1464;
  height: 515px;
  display: flex;
  margin-bottom: 140px;
}
.eread-content .eread-img {
  width: 622px;
  height: 463px;
  background-image: url(../images/ereading-blog.jpg);
  background-position: center;
  background-size: cover;
}
.eread-content .eread-text {
  width: 70%;
  margin-left: 40px;
}

footer {
  height: 92px;
  background-color: #587c83;
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
}
footer .footWrap {
  margin: 0 auto;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footWrap .footerNav {
  width: 300px;
  display: flex;
  justify-content: space-around;
}
footer .footWrap .footerNav a {
  text-decoration: none;
  color: white;
}
footer .footWrap .socials {
  width: 200px;
  display: flex;
  justify-content: space-around;
}
footer .footWrap .socials .socIcon {
  height: 35px;
  width: 35px;
  background-size: cover;
  background-position: center;
}
footer .footWrap .socials .socIcon:hover {
  cursor: pointer;
}

.facebook {
  background-image: url(../images/facebook_w.png);
}

.instagram {
  background-image: url(../images/instagram_w.png);
}

.twitter {
  background-image: url(../images/twitter_w.png);
}

@media (max-width: 768px) {
  footer {
    font-size: 11px;
  }
  footer .footWrap .socials {
    width: 125px;
  }
  footer .footWrap .socials .socIcon {
    height: 25px;
    width: 25px;
  }
}
@media (max-width: 390px) {
  footer {
    font-size: 6px;
  }
  footer .footWrap .footerNav {
    width: 150px;
  }
  footer .footWrap .socials {
    width: 100px;
  }
  footer .footWrap .socials .socIcon {
    height: 15px;
    width: 15px;
  }
}

/*# sourceMappingURL=styles.css.map */
